input[type='search'] {
    width: 100%;
    background: white;
    border: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 15px 24px;
    outline: none;
  }