@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap%27');
$paper-color: #ffffff;

.App {
	@extend .paper;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	font-family: 'Merriweather', serif;
	min-width: 300px;
	min-height: 200px;

	&__Loader div {
		margin-left: auto;
		margin-right: auto;
	}

	.login {
		input {
			width: 100%;
			height: 32px;
			margin-bottom: 8px;
		}
		button {
			background-color: #FFF;
			font-size: 24px;
			border-radius: 4px;
			padding: 4px;
		}
	}
}

.paper {
	border-radius: 8px;
	background: $paper-color;
	padding: 12px 24px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.12);
}
