.settings {
    float: right;
    background: white;
    border-radius: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.15);
    outline: 0;
    border: 0;
    width: 48px;
    height: 48px;
    font-size: 32px;
    padding: 2px 0 0 0;
  }