#dock {
  position: fixed;
  width: 64px;
  height: 100%;
  background-color: #ffffff;
  border-right: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0 1rem;
  align-items: center;
}

.profile {
  background: white;
  border-radius: 30px;
  outline: 0;
  border: 0;
  height: 48px;
  font-size: 16px;
  padding: 0;

  img {
    vertical-align: middle;
    border-radius: 100%;
  }
}
