.reader {
  margin: 0 16px;
  cursor: auto;

  &__navbar {
    margin-top: 0.67em;
    a {
      text-decoration: none;
      color: black;

      &:last-child {
        float: right;
      }
    }
    svg {
      position: relative;
      top: 5px;
    }
  }

  img {
    max-width: 100%;
  }
}
