@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@import './grid';
@import './normalize';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body,
  html {
    font-family: 'Merriweather', sans-serif;
    background: #ffffff;
    line-height: 1.52;
    font-size: 14px;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }