@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

@layer base {
  button {
    @apply focus:outline-none;
  }

  a {
    @apply focus:outline-none;
  }

  select {
    @apply focus:outline-none;
  }
}

code:not(pre) {
  background-color: #f2f2f2;
  padding: 2px 4px;
  border-radius: 6px;
}

code:not(pre)::before {
  display: none;
}

code:not(pre)::after {
  display: none;
}

pre p {
  display: inline;
  margin: 0;
}
