.profile {
    float: right;
    background: white;
    border-radius: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.025), 0 5px 5px rgba(0, 0, 0, 0.15);
    outline: 0;
    border: 0;
    height: 48px;
    font-size: 16px;
    padding: 0;
    margin-right: 18px;
    font-size: 13px;
  
    img {
      vertical-align: middle;
      border-radius: 100%;
    }
  
    span {
      padding: 0 12px 0 8px;
    }
  }